<a href="https://colab.research.google.com/github/plaban1981/Feature-Engineering-Techniques/blob/master/Comparision_of_categorical_variable_encodings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install feature-engine

Collecting feature-engine
  Downloading https://files.pythonhosted.org/packages/b3/0f/7f7f60195879fc487aeaecba343f02c6f4426bc239b378b73655d40c1d06/feature_engine-0.3.1-py3-none-any.whl
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from feature-engine) (0.25.3)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from feature-engine) (1.4.1)
Requirement already satisfied: statsmodels>=0.8.0 in /usr/local/lib/python3.6/dist-packages (from feature-engine) (0.10.2)
Requirement already satisfied: scikit-learn>=0.18.1 in /usr/local/lib/python3.6/dist-packages (from feature-engine) (0.22.1)
Collecting numpydoc>=0.6.0
  Downloading https://files.pythonhosted.org/packages/b0/70/4d8c3f9f6783a57ac9cc7a076e5610c0cc4a96af543cafc9247ac307fbfe/numpydoc-0.9.2.tar.gz
Requirement already satisfied: numpy>=1.12.1 in /usr/local/lib/python3.6/dist-packages (from feature-engine) (1.17.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->feature-engine) (2.6.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->feature-engine) (2018.9)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from statsmodels>=0.8.0->feature-engine) (0.5.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.18.1->feature-engine) (0.14.1)
Requirement already satisfied: sphinx>=1.6.5 in /usr/local/lib/python3.6/dist-packages (from numpydoc>=0.6.0->feature-engine) (1.8.5)
Requirement already satisfied: Jinja2>=2.3 in /usr/local/lib/python3.6/dist-packages (from numpydoc>=0.6.0->feature-engine) (2.11.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.23.0->feature-engine) (1.12.0)
Requirement already satisfied: babel!=2.0,>=1.3 in /usr/local/lib/python3.6/dist-packages (from sphinx>=1.6.5->numpydoc>=0.6.0->feature-engine) (2.8.0)
Requirement already satisfied: alabaster<0.8,>=0.7 in /usr/local/lib/python3.6/dist-packages (from sphinx>=1.6.5->numpydoc>=0.6.0->feature-engine) (0.7.12)
Requirement already satisfied: Pygments>=2.0 in /usr/local/lib/python3.6/dist-packages (from sphinx>=1.6.5->numpydoc>=0.6.0->feature-engine) (2.1.3)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from sphinx>=1.6.5->numpydoc>=0.6.0->feature-engine) (2.21.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from sphinx>=1.6.5->numpydoc>=0.6.0->feature-engine) (45.2.0)
Requirement already satisfied: docutils>=0.11 in /usr/local/lib/python3.6/dist-packages (from sphinx>=1.6.5->numpydoc>=0.6.0->feature-engine) (0.15.2)
Requirement already satisfied: sphinxcontrib-websupport in /usr/local/lib/python3.6/dist-packages (from sphinx>=1.6.5->numpydoc>=0.6.0->feature-engine) (1.2.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from sphinx>=1.6.5->numpydoc>=0.6.0->feature-engine) (20.1)
Requirement already satisfied: imagesize in /usr/local/lib/python3.6/dist-packages (from sphinx>=1.6.5->numpydoc>=0.6.0->feature-engine) (1.2.0)
Requirement already satisfied: snowballstemmer>=1.1 in /usr/local/lib/python3.6/dist-packages (from sphinx>=1.6.5->numpydoc>=0.6.0->feature-engine) (2.0.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2>=2.3->numpydoc>=0.6.0->feature-engine) (1.1.1)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.0.0->sphinx>=1.6.5->numpydoc>=0.6.0->feature-engine) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.0.0->sphinx>=1.6.5->numpydoc>=0.6.0->feature-engine) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.0.0->sphinx>=1.6.5->numpydoc>=0.6.0->feature-engine) (2019.11.28)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.0.0->sphinx>=1.6.5->numpydoc>=0.6.0->feature-engine) (1.24.3)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging->sphinx>=1.6.5->numpydoc>=0.6.0->feature-engine) (2.4.6)
Building wheels for collected packages: numpydoc
  Building wheel for numpydoc (setup.py) ... done
  Created wheel for numpydoc: filename=numpydoc-0.9.2-cp36-none-any.whl size=31893 sha256=5aec2400af1dfff9c498087179d31b52754552bee352a98091cda177cce8964a
  Stored in directory: /root/.cache/pip/wheels/96/f3/52/25c8e1f40637661d27feebc61dae16b84c7cdd93b8bc3d7486
Successfully built numpydoc
Installing collected packages: numpydoc, feature-engine
Successfully installed feature-engine-0.3.1 numpydoc-0.9.2

In [0]:
import pandas as pd
import numpy as np
import feature_engine


from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import roc_auc_score

Comapre these encoding techniques:

* One hot Encoding

* Replacing labels with Count

* Ordering labels according to target

* Mean Encoding

* Weight Of Evidence

In [4]:
from google.colab import files
files.upload()

Saving titanic.csv to titanic.csv

{'titanic.csv': b'PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked\n1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,,S\n2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38,1,0,PC 17599,71.2833,C85,C\n3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,,S\n4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S\n5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.05,,S\n6,0,3,"Moran, Mr. James",male,,0,0,330877,8.4583,,Q\n7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S\n8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.075,,S\n9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,,S\n10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,,C\n11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7,G6,S\n12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.55,C103,S\n13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,8.05,,S\n14,0,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.275,,S\n15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,,S\n16,1,2,"Hewlett, Mrs. (Mary D Kingcome) ",female,55,0,0,248706,16,,S\n17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,29.125,,Q\n18,1,2,"Williams, Mr. Charles Eugene",male,,0,0,244373,13,,S\n19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",female,31,1,0,345763,18,,S\n20,1,3,"Masselmani, Mrs. Fatima",female,,0,0,2649,7.225,,C\n21,0,2,"Fynney, Mr. Joseph J",male,35,0,0,239865,26,,S\n22,1,2,"Beesley, Mr. Lawrence",male,34,0,0,248698,13,D56,S\n23,1,3,"McGowan, Miss. Anna ""Annie""",female,15,0,0,330923,8.0292,,Q\n24,1,1,"Sloper, Mr. William Thompson",male,28,0,0,113788,35.5,A6,S\n25,0,3,"Palsson, Miss. Torborg Danira",female,8,3,1,349909,21.075,,S\n26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",female,38,1,5,347077,31.3875,,S\n27,0,3,"Emir, Mr. Farred Chehab",male,,0,0,2631,7.225,,C\n28,0,1,"Fortune, Mr. Charles Alexander",male,19,3,2,19950,263,C23 C25 C27,S\n29,1,3,"O\'Dwyer, Miss. Ellen ""Nellie""",female,,0,0,330959,7.8792,,Q\n30,0,3,"Todoroff, Mr. Lalio",male,,0,0,349216,7.8958,,S\n31,0,1,"Uruchurtu, Don. Manuel E",male,40,0,0,PC 17601,27.7208,,C\n32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,,1,0,PC 17569,146.5208,B78,C\n33,1,3,"Glynn, Miss. Mary Agatha",female,,0,0,335677,7.75,,Q\n34,0,2,"Wheadon, Mr. Edward H",male,66,0,0,C.A. 24579,10.5,,S\n35,0,1,"Meyer, Mr. Edgar Joseph",male,28,1,0,PC 17604,82.1708,,C\n36,0,1,"Holverson, Mr. Alexander Oskar",male,42,1,0,113789,52,,S\n37,1,3,"Mamee, Mr. Hanna",male,,0,0,2677,7.2292,,C\n38,0,3,"Cann, Mr. Ernest Charles",male,21,0,0,A./5. 2152,8.05,,S\n39,0,3,"Vander Planke, Miss. Augusta Maria",female,18,2,0,345764,18,,S\n40,1,3,"Nicola-Yarred, Miss. Jamila",female,14,1,0,2651,11.2417,,C\n41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40,1,0,7546,9.475,,S\n42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)",female,27,1,0,11668,21,,S\n43,0,3,"Kraeff, Mr. Theodor",male,,0,0,349253,7.8958,,C\n44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3,1,2,SC/Paris 2123,41.5792,,C\n45,1,3,"Devaney, Miss. Margaret Delia",female,19,0,0,330958,7.8792,,Q\n46,0,3,"Rogers, Mr. William John",male,,0,0,S.C./A.4. 23567,8.05,,S\n47,0,3,"Lennon, Mr. Denis",male,,1,0,370371,15.5,,Q\n48,1,3,"O\'Driscoll, Miss. Bridget",female,,0,0,14311,7.75,,Q\n49,0,3,"Samaan, Mr. Youssef",male,,2,0,2662,21.6792,,C\n50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18,1,0,349237,17.8,,S\n51,0,3,"Panula, Master. Juha Niilo",male,7,4,1,3101295,39.6875,,S\n52,0,3,"Nosworthy, Mr. Richard Cater",male,21,0,0,A/4. 39886,7.8,,S\n53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49,1,0,PC 17572,76.7292,D33,C\n54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)",female,29,1,0,2926,26,,S\n55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65,0,1,113509,61.9792,B30,C\n56,1,1,"Woolner, Mr. Hugh",male,,0,0,19947,35.5,C52,S\n57,1,2,"Rugg, Miss. Emily",female,21,0,0,C.A. 31026,10.5,,S\n58,0,3,"Novel, Mr. Mansouer",male,28.5,0,0,2697,7.2292,,C\n59,1,2,"West, Miss. Constance Mirium",female,5,1,2,C.A. 34651,27.75,,S\n60,0,3,"Goodwin, Master. William Frederick",male,11,5,2,CA 2144,46.9,,S\n61,0,3,"Sirayanian, Mr. Orsen",male,22,0,0,2669,7.2292,,C\n62,1,1,"Icard, Miss. Amelie",female,38,0,0,113572,80,B28,\n63,0,1,"Harris, Mr. Henry Birkhardt",male,45,1,0,36973,83.475,C83,S\n64,0,3,"Skoog, Master. Harald",male,4,3,2,347088,27.9,,S\n65,0,1,"Stewart, Mr. Albert A",male,,0,0,PC 17605,27.7208,,C\n66,1,3,"Moubarek, Master. Gerios",male,,1,1,2661,15.2458,,C\n67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29,0,0,C.A. 29395,10.5,F33,S\n68,0,3,"Crease, Mr. Ernest James",male,19,0,0,S.P. 3464,8.1583,,S\n69,1,3,"Andersson, Miss. Erna Alexandra",female,17,4,2,3101281,7.925,,S\n70,0,3,"Kink, Mr. Vincenz",male,26,2,0,315151,8.6625,,S\n71,0,2,"Jenkin, Mr. Stephen Curnow",male,32,0,0,C.A. 33111,10.5,,S\n72,0,3,"Goodwin, Miss. Lillian Amy",female,16,5,2,CA 2144,46.9,,S\n73,0,2,"Hood, Mr. Ambrose Jr",male,21,0,0,S.O.C. 14879,73.5,,S\n74,0,3,"Chronopoulos, Mr. Apostolos",male,26,1,0,2680,14.4542,,C\n75,1,3,"Bing, Mr. Lee",male,32,0,0,1601,56.4958,,S\n76,0,3,"Moen, Mr. Sigurd Hansen",male,25,0,0,348123,7.65,F G73,S\n77,0,3,"Staneff, Mr. Ivan",male,,0,0,349208,7.8958,,S\n78,0,3,"Moutal, Mr. Rahamin Haim",male,,0,0,374746,8.05,,S\n79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29,,S\n80,1,3,"Dowdell, Miss. Elizabeth",female,30,0,0,364516,12.475,,S\n81,0,3,"Waelens, Mr. Achille",male,22,0,0,345767,9,,S\n82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29,0,0,345779,9.5,,S\n83,1,3,"McDermott, Miss. Brigdet Delia",female,,0,0,330932,7.7875,,Q\n84,0,1,"Carrau, Mr. Francisco M",male,28,0,0,113059,47.1,,S\n85,1,2,"Ilett, Miss. Bertha",female,17,0,0,SO/C 14885,10.5,,S\n86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)",female,33,3,0,3101278,15.85,,S\n87,0,3,"Ford, Mr. William Neal",male,16,1,3,W./C. 6608,34.375,,S\n88,0,3,"Slocovski, Mr. Selman Francis",male,,0,0,SOTON/OQ 392086,8.05,,S\n89,1,1,"Fortune, Miss. Mabel Helen",female,23,3,2,19950,263,C23 C25 C27,S\n90,0,3,"Celotti, Mr. Francesco",male,24,0,0,343275,8.05,,S\n91,0,3,"Christmann, Mr. Emil",male,29,0,0,343276,8.05,,S\n92,0,3,"Andreasson, Mr. Paul Edvin",male,20,0,0,347466,7.8542,,S\n93,0,1,"Chaffee, Mr. Herbert Fuller",male,46,1,0,W.E.P. 5734,61.175,E31,S\n94,0,3,"Dean, Mr. Bertram Frank",male,26,1,2,C.A. 2315,20.575,,S\n95,0,3,"Coxon, Mr. Daniel",male,59,0,0,364500,7.25,,S\n96,0,3,"Shorney, Mr. Charles Joseph",male,,0,0,374910,8.05,,S\n97,0,1,"Goldschmidt, Mr. George B",male,71,0,0,PC 17754,34.6542,A5,C\n98,1,1,"Greenfield, Mr. William Bertram",male,23,0,1,PC 17759,63.3583,D10 D12,C\n99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34,0,1,231919,23,,S\n100,0,2,"Kantor, Mr. Sinai",male,34,1,0,244367,26,,S\n101,0,3,"Petranec, Miss. Matilda",female,28,0,0,349245,7.8958,,S\n102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,,0,0,349215,7.8958,,S\n103,0,1,"White, Mr. Richard Frasar",male,21,0,1,35281,77.2875,D26,S\n104,0,3,"Johansson, Mr. Gustaf Joel",male,33,0,0,7540,8.6542,,S\n105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37,2,0,3101276,7.925,,S\n106,0,3,"Mionoff, Mr. Stoytcho",male,28,0,0,349207,7.8958,,S\n107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21,0,0,343120,7.65,,S\n108,1,3,"Moss, Mr. Albert Johan",male,,0,0,312991,7.775,,S\n109,0,3,"Rekic, Mr. Tido",male,38,0,0,349249,7.8958,,S\n110,1,3,"Moran, Miss. Bertha",female,,1,0,371110,24.15,,Q\n111,0,1,"Porter, Mr. Walter Chamberlain",male,47,0,0,110465,52,C110,S\n112,0,3,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,,C\n113,0,3,"Barton, Mr. David John",male,22,0,0,324669,8.05,,S\n114,0,3,"Jussila, Miss. Katriina",female,20,1,0,4136,9.825,,S\n115,0,3,"Attalah, Miss. Malake",female,17,0,0,2627,14.4583,,C\n116,0,3,"Pekoniemi, Mr. Edvard",male,21,0,0,STON/O 2. 3101294,7.925,,S\n117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.75,,Q\n118,0,2,"Turpin, Mr. William John Robert",male,29,1,0,11668,21,,S\n119,0,1,"Baxter, Mr. Quigg Edmond",male,24,0,1,PC 17558,247.5208,B58 B60,C\n120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2,4,2,347082,31.275,,S\n121,0,2,"Hickman, Mr. Stanley George",male,21,2,0,S.O.C. 14879,73.5,,S\n122,0,3,"Moore, Mr. Leonard Charles",male,,0,0,A4. 54510,8.05,,S\n123,0,2,"Nasser, Mr. Nicholas",male,32.5,1,0,237736,30.0708,,C\n124,1,2,"Webber, Miss. Susan",female,32.5,0,0,27267,13,E101,S\n125,0,1,"White, Mr. Percival Wayland",male,54,0,1,35281,77.2875,D26,S\n126,1,3,"Nicola-Yarred, Master. Elias",male,12,1,0,2651,11.2417,,C\n127,0,3,"McMahon, Mr. Martin",male,,0,0,370372,7.75,,Q\n128,1,3,"Madsen, Mr. Fridtjof Arne",male,24,0,0,C 17369,7.1417,,S\n129,1,3,"Peter, Miss. Anna",female,,1,1,2668,22.3583,F E69,C\n130,0,3,"Ekstrom, Mr. Johan",male,45,0,0,347061,6.975,,S\n131,0,3,"Drazenoic, Mr. Jozef",male,33,0,0,349241,7.8958,,C\n132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20,0,0,SOTON/O.Q. 3101307,7.05,,S\n133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47,1,0,A/5. 3337,14.5,,S\n134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29,1,0,228414,26,,S\n135,0,2,"Sobey, Mr. Samuel James Hayden",male,25,0,0,C.A. 29178,13,,S\n136,0,2,"Richard, Mr. Emile",male,23,0,0,SC/PARIS 2133,15.0458,,C\n137,1,1,"Newsom, Miss. Helen Monypeny",female,19,0,2,11752,26.2833,D47,S\n138,0,1,"Futrelle, Mr. Jacques Heath",male,37,1,0,113803,53.1,C123,S\n139,0,3,"Osen, Mr. Olaf Elon",male,16,0,0,7534,9.2167,,S\n140,0,1,"Giglio, Mr. Victor",male,24,0,0,PC 17593,79.2,B86,C\n141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,,0,2,2678,15.2458,,C\n142,1,3,"Nysten, Miss. Anna Sofia",female,22,0,0,347081,7.75,,S\n143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)",female,24,1,0,STON/O2. 3101279,15.85,,S\n144,0,3,"Burke, Mr. Jeremiah",male,19,0,0,365222,6.75,,Q\n145,0,2,"Andrew, Mr. Edgardo Samuel",male,18,0,0,231945,11.5,,S\n146,0,2,"Nicholls, Mr. Joseph Charles",male,19,1,1,C.A. 33112,36.75,,S\n147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27,0,0,350043,7.7958,,S\n148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9,2,2,W./C. 6608,34.375,,S\n149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.5,0,2,230080,26,F2,S\n150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42,0,0,244310,13,,S\n151,0,2,"Bateman, Rev. Robert James",male,51,0,0,S.O.P. 1166,12.525,,S\n152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22,1,0,113776,66.6,C2,S\n153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.05,,S\n154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5,,S\n155,0,3,"Olsen, Mr. Ole Martin",male,,0,0,Fa 265302,7.3125,,S\n156,0,1,"Williams, Mr. Charles Duane",male,51,0,1,PC 17597,61.3792,,C\n157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16,0,0,35851,7.7333,,Q\n158,0,3,"Corn, Mr. Harry",male,30,0,0,SOTON/OQ 392090,8.05,,S\n159,0,3,"Smiljanic, Mr. Mile",male,,0,0,315037,8.6625,,S\n160,0,3,"Sage, Master. Thomas Henry",male,,8,2,CA. 2343,69.55,,S\n161,0,3,"Cribb, Mr. John Hatfield",male,44,0,1,371362,16.1,,S\n162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Milne)",female,40,0,0,C.A. 33595,15.75,,S\n163,0,3,"Bengtsson, Mr. John Viktor",male,26,0,0,347068,7.775,,S\n164,0,3,"Calic, Mr. Jovo",male,17,0,0,315093,8.6625,,S\n165,0,3,"Panula, Master. Eino Viljami",male,1,4,1,3101295,39.6875,,S\n166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9,0,2,363291,20.525,,S\n167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,,0,1,113505,55,E33,S\n168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45,1,4,347088,27.9,,S\n169,0,1,"Baumann, Mr. John D",male,,0,0,PC 17318,25.925,,S\n170,0,3,"Ling, Mr. Lee",male,28,0,0,1601,56.4958,,S\n171,0,1,"Van der hoef, Mr. Wyckoff",male,61,0,0,111240,33.5,B19,S\n172,0,3,"Rice, Master. Arthur",male,4,4,1,382652,29.125,,Q\n173,1,3,"Johnson, Miss. Eleanor Ileen",female,1,1,1,347742,11.1333,,S\n174,0,3,"Sivola, Mr. Antti Wilhelm",male,21,0,0,STON/O 2. 3101280,7.925,,S\n175,0,1,"Smith, Mr. James Clinch",male,56,0,0,17764,30.6958,A7,C\n176,0,3,"Klasen, Mr. Klas Albin",male,18,1,1,350404,7.8542,,S\n177,0,3,"Lefebre, Master. Henry Forbes",male,,3,1,4133,25.4667,,S\n178,0,1,"Isham, Miss. Ann Elizabeth",female,50,0,0,PC 17595,28.7125,C49,C\n179,0,2,"Hale, Mr. Reginald",male,30,0,0,250653,13,,S\n180,0,3,"Leonard, Mr. Lionel",male,36,0,0,LINE,0,,S\n181,0,3,"Sage, Miss. Constance Gladys",female,,8,2,CA. 2343,69.55,,S\n182,0,2,"Pernot, Mr. Rene",male,,0,0,SC/PARIS 2131,15.05,,C\n183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9,4,2,347077,31.3875,,S\n184,1,2,"Becker, Master. Richard F",male,1,2,1,230136,39,F4,S\n185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4,0,2,315153,22.025,,S\n186,0,1,"Rood, Mr. Hugh Roscoe",male,,0,0,113767,50,A32,S\n187,1,3,"O\'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,,1,0,370365,15.5,,Q\n188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45,0,0,111428,26.55,,S\n189,0,3,"Bourke, Mr. John",male,40,1,1,364849,15.5,,Q\n190,0,3,"Turcin, Mr. Stjepan",male,36,0,0,349247,7.8958,,S\n191,1,2,"Pinsky, Mrs. (Rosa)",female,32,0,0,234604,13,,S\n192,0,2,"Carbines, Mr. William",male,19,0,0,28424,13,,S\n193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19,1,0,350046,7.8542,,S\n194,1,2,"Navratil, Master. Michel M",male,3,1,1,230080,26,F2,S\n195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44,0,0,PC 17610,27.7208,B4,C\n196,1,1,"Lurette, Miss. Elise",female,58,0,0,PC 17569,146.5208,B80,C\n197,0,3,"Mernagh, Mr. Robert",male,,0,0,368703,7.75,,Q\n198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42,0,1,4579,8.4042,,S\n199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,,0,0,370370,7.75,,Q\n200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24,0,0,248747,13,,S\n201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28,0,0,345770,9.5,,S\n202,0,3,"Sage, Mr. Frederick",male,,8,2,CA. 2343,69.55,,S\n203,0,3,"Johanson, Mr. Jakob Alfred",male,34,0,0,3101264,6.4958,,S\n204,0,3,"Youseff, Mr. Gerious",male,45.5,0,0,2628,7.225,,C\n205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18,0,0,A/5 3540,8.05,,S\n206,0,3,"Strom, Miss. Telma Matilda",female,2,0,1,347054,10.4625,G6,S\n207,0,3,"Backstrom, Mr. Karl Alfred",male,32,1,0,3101278,15.85,,S\n208,1,3,"Albimona, Mr. Nassef Cassem",male,26,0,0,2699,18.7875,,C\n209,1,3,"Carr, Miss. Helen ""Ellen""",female,16,0,0,367231,7.75,,Q\n210,1,1,"Blank, Mr. Henry",male,40,0,0,112277,31,A31,C\n211,0,3,"Ali, Mr. Ahmed",male,24,0,0,SOTON/O.Q. 3101311,7.05,,S\n212,1,2,"Cameron, Miss. Clear Annie",female,35,0,0,F.C.C. 13528,21,,S\n213,0,3,"Perkin, Mr. John Henry",male,22,0,0,A/5 21174,7.25,,S\n214,0,2,"Givard, Mr. Hans Kristensen",male,30,0,0,250646,13,,S\n215,0,3,"Kiernan, Mr. Philip",male,,1,0,367229,7.75,,Q\n216,1,1,"Newell, Miss. Madeleine",female,31,1,0,35273,113.275,D36,C\n217,1,3,"Honkanen, Miss. Eliina",female,27,0,0,STON/O2. 3101283,7.925,,S\n218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42,1,0,243847,27,,S\n219,1,1,"Bazzani, Miss. Albina",female,32,0,0,11813,76.2917,D15,C\n220,0,2,"Harris, Mr. Walter",male,30,0,0,W/C 14208,10.5,,S\n221,1,3,"Sunderland, Mr. Victor Francis",male,16,0,0,SOTON/OQ 392089,8.05,,S\n222,0,2,"Bracken, Mr. James H",male,27,0,0,220367,13,,S\n223,0,3,"Green, Mr. George Henry",male,51,0,0,21440,8.05,,S\n224,0,3,"Nenkoff, Mr. Christo",male,,0,0,349234,7.8958,,S\n225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38,1,0,19943,90,C93,S\n226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22,0,0,PP 4348,9.35,,S\n227,1,2,"Mellors, Mr. William John",male,19,0,0,SW/PP 751,10.5,,S\n228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.5,0,0,A/5 21173,7.25,,S\n229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18,0,0,236171,13,,S\n230,0,3,"Lefebre, Miss. Mathilde",female,,3,1,4133,25.4667,,S\n231,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35,1,0,36973,83.475,C83,S\n232,0,3,"Larsson, Mr. Bengt Edvin",male,29,0,0,347067,7.775,,S\n233,0,2,"Sjostedt, Mr. Ernst Adolf",male,59,0,0,237442,13.5,,S\n234,1,3,"Asplund, Miss. Lillian Gertrud",female,5,4,2,347077,31.3875,,S\n235,0,2,"Leyson, Mr. Robert William Norman",male,24,0,0,C.A. 29566,10.5,,S\n236,0,3,"Harknett, Miss. Alice Phoebe",female,,0,0,W./C. 6609,7.55,,S\n237,0,2,"Hold, Mr. Stephen",male,44,1,0,26707,26,,S\n238,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8,0,2,C.A. 31921,26.25,,S\n239,0,2,"Pengelly, Mr. Frederick William",male,19,0,0,28665,10.5,,S\n240,0,2,"Hunt, Mr. George Henry",male,33,0,0,SCO/W 1585,12.275,,S\n241,0,3,"Zabour, Miss. Thamine",female,,1,0,2665,14.4542,,C\n242,1,3,"Murphy, Miss. Katherine ""Kate""",female,,1,0,367230,15.5,,Q\n243,0,2,"Coleridge, Mr. Reginald Charles",male,29,0,0,W./C. 14263,10.5,,S\n244,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22,0,0,STON/O 2. 3101275,7.125,,S\n245,0,3,"Attalah, Mr. Sleiman",male,30,0,0,2694,7.225,,C\n246,0,1,"Minahan, Dr. William Edward",male,44,2,0,19928,90,C78,Q\n247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25,0,0,347071,7.775,,S\n248,1,2,"Hamalainen, Mrs. William (Anna)",female,24,0,2,250649,14.5,,S\n249,1,1,"Beckwith, Mr. Richard Leonard",male,37,1,1,11751,52.5542,D35,S\n250,0,2,"Carter, Rev. Ernest Courtenay",male,54,1,0,244252,26,,S\n251,0,3,"Reed, Mr. James George",male,,0,0,362316,7.25,,S\n252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29,1,1,347054,10.4625,G6,S\n253,0,1,"Stead, Mr. William Thomas",male,62,0,0,113514,26.55,C87,S\n254,0,3,"Lobb, Mr. William Arthur",male,30,1,0,A/5. 3336,16.1,,S\n255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41,0,2,370129,20.2125,,S\n256,1,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",female,29,0,2,2650,15.2458,,C\n257,1,1,"Thorne, Mrs. Gertrude Maybelle",female,,0,0,PC 17585,79.2,,C\n258,1,1,"Cherry, Miss. Gladys",female,30,0,0,110152,86.5,B77,S\n259,1,1,"Ward, Miss. Anna",female,35,0,0,PC 17755,512.3292,,C\n260,1,2,"Parrish, Mrs. (Lutie Davis)",female,50,0,1,230433,26,,S\n261,0,3,"Smith, Mr. Thomas",male,,0,0,384461,7.75,,Q\n262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3,4,2,347077,31.3875,,S\n263,0,1,"Taussig, Mr. Emil",male,52,1,1,110413,79.65,E67,S\n264,0,1,"Harrison, Mr. William",male,40,0,0,112059,0,B94,S\n265,0,3,"Henry, Miss. Delia",female,,0,0,382649,7.75,,Q\n266,0,2,"Reeves, Mr. David",male,36,0,0,C.A. 17248,10.5,,S\n267,0,3,"Panula, Mr. Ernesti Arvid",male,16,4,1,3101295,39.6875,,S\n268,1,3,"Persson, Mr. Ernst Ulrik",male,25,1,0,347083,7.775,,S\n269,1,1,"Graham, Mrs. William Thompson (Edith Junkins)",female,58,0,1,PC 17582,153.4625,C125,S\n270,1,1,"Bissette, Miss. Amelia",female,35,0,0,PC 17760,135.6333,C99,S\n271,0,1,"Cairns, Mr. Alexander",male,,0,0,113798,31,,S\n272,1,3,"Tornquist, Mr. William Henry",male,25,0,0,LINE,0,,S\n273,1,2,"Mellinger, Mrs. (Elizabeth Anne Maidment)",female,41,0,1,250644,19.5,,S\n274,0,1,"Natsch, Mr. Charles H",male,37,0,1,PC 17596,29.7,C118,C\n275,1,3,"Healy, Miss. Hanora ""Nora""",female,,0,0,370375,7.75,,Q\n276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63,1,0,13502,77.9583,D7,S\n277,0,3,"Lindblom, Miss. Augusta Charlotta",female,45,0,0,347073,7.75,,S\n278,0,2,"Parkes, Mr. Francis ""Frank""",male,,0,0,239853,0,,S\n279,0,3,"Rice, Master. Eric",male,7,4,1,382652,29.125,,Q\n280,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35,1,1,C.A. 2673,20.25,,S\n281,0,3,"Duane, Mr. Frank",male,65,0,0,336439,7.75,,Q\n282,0,3,"Olsson, Mr. Nils Johan Goransson",male,28,0,0,347464,7.8542,,S\n283,0,3,"de Pelsmaeker, Mr. Alfons",male,16,0,0,345778,9.5,,S\n284,1,3,"Dorking, Mr. Edward Arthur",male,19,0,0,A/5. 10482,8.05,,S\n285,0,1,"Smith, Mr. Richard William",male,,0,0,113056,26,A19,S\n286,0,3,"Stankovic, Mr. Ivan",male,33,0,0,349239,8.6625,,C\n287,1,3,"de Mulder, Mr. Theodore",male,30,0,0,345774,9.5,,S\n288,0,3,"Naidenoff, Mr. Penko",male,22,0,0,349206,7.8958,,S\n289,1,2,"Hosono, Mr. Masabumi",male,42,0,0,237798,13,,S\n290,1,3,"Connolly, Miss. Kate",female,22,0,0,370373,7.75,,Q\n291,1,1,"Barber, Miss. Ellen ""Nellie""",female,26,0,0,19877,78.85,,S\n292,1,1,"Bishop, Mrs. Dicki

In [39]:
data = pd.read_csv('titanic.csv')
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [40]:
cols = ['Pclass','Age', 'SibSp','Parch','Sex','Cabin','Fare', 'Embarked','Survived']
data = data[cols]
data.head()

   Pclass   Age  SibSp  Parch     Sex Cabin     Fare Embarked  Survived
0       3  22.0      1      0    male   NaN   7.2500        S         0
1       1  38.0      1      0  female   C85  71.2833        C         1
2       3  26.0      0      0  female   NaN   7.9250        S         1
3       1  35.0      1      0  female  C123  53.1000        S         1
4       3  35.0      0      0    male   NaN   8.0500        S         0

In [41]:
data.isnull().sum()[data.isnull().sum() > 0]

Age         177
Cabin       687
Embarked      2
dtype: int64

In [0]:
data = data[~data['Embarked'].isnull()]

In [43]:
data.isnull().sum()[data.isnull().sum() > 0]

Age      177
Cabin    687
dtype: int64

In [0]:
data['Cabin'] = data['Cabin'].astype(str).str[0]

In [45]:
data.head()

   Pclass   Age  SibSp  Parch     Sex Cabin     Fare Embarked  Survived
0       3  22.0      1      0    male     n   7.2500        S         0
1       1  38.0      1      0  female     C  71.2833        C         1
2       3  26.0      0      0  female     n   7.9250        S         1
3       1  35.0      1      0  female     C  53.1000        S         1
4       3  35.0      0      0    male     n   8.0500        S         0

In [46]:
data['Cabin'].value_counts()

n    687
C     59
B     45
D     33
E     32
A     15
F     13
G      4
T      1
Name: Cabin, dtype: int64

remove data observations with Cabin = T as they are too few

In [0]:
data = data[data['Cabin'] != 'T']

In [0]:
X_train,X_test,y_train,y_test = train_test_split(data.drop('Survived',axis=1),data['Survived'],test_size=0.3,random_state=1)

In [49]:
X_train.shape,X_test.shape

((621, 8), (267, 8))

Replace null values in numerical features by median

In [0]:
def impute_na(df,variable,value):
  df[variable] = df[variable].fillna(value)

impute_na(X_test,'Age',X_train['Age'].median())
impute_na(X_train,'Age',X_train['Age'].median())

In [51]:
X_train.head()

     Pclass   Age  SibSp  Parch     Sex Cabin     Fare Embarked
77        3  28.0      0      0    male     n   8.0500        S
876       3  20.0      0      0    male     n   9.8458        S
735       3  28.5      0      0    male     n  16.1000        S
133       2  29.0      1      0  female     n  26.0000        S
476       2  34.0      1      0    male     n  21.0000        S

## 1.1 One Hot Encoding

In [0]:
cat_cols = [cols for cols in X_train.columns if X_train[cols].dtypes == 'O']
num_cols = [cols for cols in X_train.columns if X_train[cols].dtypes != 'O']

In [0]:
def get_OHE(df):
  df_OHE = pd.concat([df[num_cols],pd.get_dummies(df[cat_cols],drop_first=True)],axis=1)
  return df_OHE

In [0]:
X_train_OHE = get_OHE(X_train)
X_test_OHE = get_OHE(X_test)

In [56]:
X_train_OHE.head()

     Pclass   Age  SibSp  Parch  ...  Cabin_G  Cabin_n  Embarked_Q  Embarked_S
77        3  28.0      0      0  ...        0        1           0           1
876       3  20.0      0      0  ...        0        1           0           1
735       3  28.5      0      0  ...        0        1           0           1
133       2  29.0      1      0  ...        0        1           0           1
476       2  34.0      1      0  ...        0        1           0           1

[5 rows x 15 columns]

## 1.2 Count Encoding

In [0]:
def categorical_to_count(train,test):
  df_train = train.copy()
  df_test = test.copy()
  for col in cat_cols:
    counts_map = df_train[col].value_counts().to_dict()
    df_train[col] = df_train[col].map(counts_map)
    df_test[col] = df_test[col].map(counts_map)
  return df_train,df_test

In [0]:
X_train_count,X_test_count = categorical_to_count(X_train,X_test)

In [60]:
X_train['Embarked'].value_counts().to_dict()

{'C': 117, 'Q': 50, 'S': 454}

In [61]:
X_train['Sex'].value_counts().to_dict()

{'female': 213, 'male': 408}

In [62]:
X_train['Cabin'].value_counts().to_dict()

{'A': 11, 'B': 31, 'C': 42, 'D': 16, 'E': 26, 'F': 11, 'G': 3, 'n': 481}

In [59]:
X_train_count.head()

     Pclass   Age  SibSp  Parch  Sex  Cabin     Fare  Embarked
77        3  28.0      0      0  408    481   8.0500       454
876       3  20.0      0      0  408    481   9.8458       454
735       3  28.5      0      0  408    481  16.1000       454
133       2  29.0      1      0  213    481  26.0000       454
476       2  34.0      1      0  408    481  21.0000       454

## 1.3 Ordered Integer Encoding

In [0]:
def categories_to_ordered(train,test,y_train,y_test):
  df_train = pd.concat([train,y_train],axis=1).copy()
  df_test = pd.concat([test,y_test],axis=1).copy()
  for col in cat_cols:
    ordered_labels = df_train.groupby([col])['Survived'].mean().sort_values().index

    ordinal_label = {k:i for i,k in enumerate(ordered_labels,0)}

    df_train[col] = df_train[col].map(ordinal_label)
    df_test[col] = df_test[col].map(ordinal_label)

  #remove target
  df_train.drop('Survived',axis=1,inplace=True)
  df_test.drop('Survived',axis=1,inplace=True)

  return df_train,df_test

In [0]:
X_train_ordered,X_test_ordered = categories_to_ordered(X_train,X_test,y_train,y_test)

In [65]:
X_train_ordered.head()

     Pclass   Age  SibSp  Parch  Sex  Cabin     Fare  Embarked
77        3  28.0      0      0    0      0   8.0500         0
876       3  20.0      0      0    0      0   9.8458         0
735       3  28.5      0      0    0      0  16.1000         0
133       2  29.0      1      0    1      0  26.0000         0
476       2  34.0      1      0    0      0  21.0000         0

##1.4 Mean Encoding

In [0]:
def categories_to_mean(train,test,y_train,y_test):
  df_train = pd.concat([train,y_train],axis=1).copy()
  df_test = pd.concat([test,y_test],axis=1).copy()
  for col in cat_cols:
    ordered_labels = df_train.groupby([col])['Survived'].mean().to_dict()

    df_train[col] = df_train[col].map(ordered_labels)
    df_test[col] = df_test[col].map(ordered_labels)

  #remove target
  df_train.drop('Survived',axis=1,inplace=True)
  df_test.drop('Survived',axis=1,inplace=True)

  return df_train,df_test

In [0]:
X_train_mean,X_test_mean = categories_to_mean(X_train,X_test,y_train,y_test)

In [69]:
X_train_mean.head()

     Pclass   Age  SibSp  Parch       Sex    Cabin     Fare  Embarked
77        3  28.0      0      0  0.203431  0.31185   8.0500  0.337004
876       3  20.0      0      0  0.203431  0.31185   9.8458  0.337004
735       3  28.5      0      0  0.203431  0.31185  16.1000  0.337004
133       2  29.0      1      0  0.746479  0.31185  26.0000  0.337004
476       2  34.0      1      0  0.203431  0.31185  21.0000  0.337004

## 1.5 WoE : Weight of Evidence

In [0]:
def categories_to_woe(train,test,y_train,y_test):
  df_train = pd.concat([train,y_train],axis=1).copy()
  df_test = pd.concat([test,y_test],axis=1).copy()

  for col in cat_cols:
    prob_df = pd.DataFrame(df_train.groupby([col])['Survived'].mean())

    prob_df['died'] = 1 - prob_df['Survived']

    prob_df['WoE']  = np.log(prob_df['Survived']/prob_df['died'])
    woe = prob_df['WoE'].to_dict()

    df_train[col] = df_train[col].map(woe)
    df_test[col] = df_test[col].map(woe)

  df_train.drop('Survived',axis=1,inplace=True)
  df_test.drop('Survived',axis=1,inplace=True)

  return df_train,df_test

In [0]:
X_train_woe,X_test_woe = categories_to_woe(X_train,X_test,y_train,y_test)

In [75]:
X_train_woe.head()

     Pclass   Age  SibSp  Parch       Sex     Cabin     Fare  Embarked
77        3  28.0      0      0 -1.364985 -0.791483   8.0500 -0.676672
876       3  20.0      0      0 -1.364985 -0.791483   9.8458 -0.676672
735       3  28.5      0      0 -1.364985 -0.791483  16.1000 -0.676672
133       2  29.0      1      0  1.079920 -0.791483  26.0000 -0.676672
476       2  34.0      1      0 -1.364985 -0.791483  21.0000 -0.676672

## Random_Forest Performance

In [0]:
def run_random_forest(X_train,X_test,y_train,y_test):
  rf = RandomForestClassifier(n_estimators=100,random_state=1,max_depth=3)
  rf.fit(X_train,y_train)
  print('Train Set')
  pred = rf.predict_proba(X_train)
  print('Random Forest roc-auc {}'.format(roc_auc_score(y_train,pred[:,1])))
  print('Test Set')
  pred = rf.predict_proba(X_test)
  print('Random Forest roc-auc {}'.format(roc_auc_score(y_test,pred[:,1])))

In [79]:
run_random_forest(X_train_OHE,X_test_OHE,y_train,y_test)

Train Set
Random Forest roc-auc 0.8654080987374344
Test Set
Random Forest roc-auc 0.8676488346818017

In [80]:
run_random_forest(X_train_count,X_test_count,y_train,y_test)

Train Set
Random Forest roc-auc 0.8744139645434921
Test Set
Random Forest roc-auc 0.8820794590025359

In [81]:
run_random_forest(X_train_ordered,X_test_ordered,y_train,y_test)

Train Set
Random Forest roc-auc 0.8733073115419002
Test Set
Random Forest roc-auc 0.8784567081270378

In [82]:
run_random_forest(X_train_mean,X_test_mean,y_train,y_test)

Train Set
Random Forest roc-auc 0.8733073115419002
Test Set
Random Forest roc-auc 0.8784567081270378

In [83]:
run_random_forest(X_train_woe,X_test_woe,y_train,y_test)

Train Set
Random Forest roc-auc 0.8733073115419002
Test Set
Random Forest roc-auc 0.8784567081270378

## The worst roc-auc-score was given by OHE as  for tree based classifiers high feature space is decremental .

## Logistic Regression

In [0]:
def run_logistic_regression(X_train,X_test,y_train,y_test):
  lr = LogisticRegression(C=0.01,random_state=1,solver='liblinear')
  lr.fit(X_train,y_train)
  print('Train Set')
  pred = lr.predict_proba(X_train)
  print('Random Forest roc-auc {}'.format(roc_auc_score(y_train,pred[:,1])))
  print('Test Set')
  pred = lr.predict_proba(X_test)
  print('Random Forest roc-auc {}'.format(roc_auc_score(y_test,pred[:,1])))

In [90]:
run_logistic_regression(X_train_OHE,X_test_OHE,y_train,y_test)

Train Set
Random Forest roc-auc 0.822940971237925
Test Set
Random Forest roc-auc 0.8083564786861489

In [91]:
run_logistic_regression(X_train_count,X_test_count,y_train,y_test)

Train Set
Random Forest roc-auc 0.7819675527159335
Test Set
Random Forest roc-auc 0.8232097572756913

In [92]:
run_logistic_regression(X_train_ordered,X_test_ordered,y_train,y_test)

Train Set
Random Forest roc-auc 0.8175767025011447
Test Set
Random Forest roc-auc 0.7996618765849535

In [93]:
run_logistic_regression(X_train_mean,X_test_mean,y_train,y_test)

Train Set
Random Forest roc-auc 0.7817167840554744
Test Set
Random Forest roc-auc 0.7560681077164593

In [94]:
run_logistic_regression(X_train_woe,X_test_woe,y_train,y_test)

Train Set
Random Forest roc-auc 0.8414433371857214
Test Set
Random Forest roc-auc 0.8541842772612003